# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# CatBoost
catboost_info/

# Model artifacts
# Large model artifacts
*.joblib

# Ignore all pkl except Step 4 cache
*.pkl

!results/
!results/baseline_results.pkl
!results/best_params.pkl
!results/nested_results.pkl
# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

app.py

# PyCharm
.idea/